// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.section-lead {
  background: url(/assets/IMG_1885.jpg) center no-repeat;
    background-size: 100%;
  min-height: 500px;
  min-width: 100%;
  position: relative;
    bottom: 150px;
}

.description-lead {
  position: relative;
    top: 383px;
  color: orange;
  opacity: 0.9;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lead.home {
  color: black;
}

.form-group.lead {
  min-width: 250px;
}