// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.section-lead {
  background: url(/assets/IMG_1885.jpg) center no-repeat;
    background-size: 100%;
  min-height: 500px;
  min-width: 100%;
  position: relative;
    bottom: 100px;
  margin-top: -50px;
}

.description-lead {
  position: relative;
    bottom: 217px;
  color: orange;
  opacity: 0.9;
  background-color: white;
  padding: 20px;
}

.lead.home {
  color: grey;
}

.form-group.lead {
  min-width: 250px;
}

.quote {
  font-style: italic;
  color: grey;
}

.signature {
  color: grey;
  font-weight: bold;
}

.courses {
  position: relative;
    bottom: 220px;
  color: orange;
  opacity: 0.9;
  background-color: white;
  padding-top: 10px;
}

.course {
  position: relative;
    bottom: 240px;
  color: orange;
  opacity: 0.9;
  background-color: white;
  padding-top: 10px;
}

.course-title {
  color: grey;
  font-weight: bold;
}

.course-description {
  color: grey;
}

.footer {
  text-align: center;
  font-size: .8em;
  font-weight: lighter;
  position: relative;
    bottom: 100px;
  margin-bottom: -100px;
}
