%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"} JSL Online
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "http://jumpstartlab.com/team"} Team
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Courses
          %b.caret
        %ul.dropdown-menu
          - if @courses.empty?
            %li There are not any courses yet.
          - else
            - @courses.each do |course|
              %li= link_to course.title, course_path(course.id)
      %li
        %a{href: "mailto://jumpstartlab.com/contact?subject=Information%20Request"} Contact